<form [formGroup]="form" novalidate>
 
 <input type="text" name="FirstName" [(ngModel)]="v.FirstName" formControlName="FirstName"/>
 <div class="errMessages mb-3" *ngIf="VulFormValid">
                        <div *ngIf="form.controls.FirstName.hasError('required') && !form.controls.FirstName.valid">
                          <i>First name  is required.</i>
                        </div>
                      </div> 
<p>{{v.FirstName}}</p>

<button type="submit" (click)="sub(v)">submit</button>
</form>
